<!DOCTYPE html>
<html lang="en">
<%- include('includes/header', {metadata : data.metadata}); %>

<main class="container-fluid">
    <h1>About Us</h1>
</main>

<%- include('includes/footer', {metadata: data.metadata}); %>
</body>
</html>