<!DOCTYPE html>
<html lang="en">
<%- include('includes/header', {metadata : data.metadata}); %>

<main class="container-fluid">
    <h1>Contact Me</h1>
    <p>Email: <span><%= data.email %></span></p>
    <p>Phone Number: <span><%= data.phoneNumber %></span></p>
</main>

<%- include('includes/footer', {metadata: data.metadata}); %>
</body>
</html>