<%- include('includes/header', {metadata : data.metadata}); %>
<main class="container-fluid">
    <h1>Home</h1>
    <hr>
    <h2><%= data.blogTitle %></h2>
    <h3><%= data.blogHeader %></h3>
</main>

<%- include('includes/footer', {metadata: data.metadata}); %>
</body>
</html>