<!DOCTYPE html>
<html lang="en">
<%- include('includes/header', {metadata : data.metadata}); %>

<main class="container-fluid">
    <h1><%= data.post.title %></h1>
    <p><%= data.post.text %></p>
</main>

<%- include('includes/footer', {metadata: data.metadata}); %>
</body>
</html>